<div class="jumbotron">
  <div class="container">
    <h1>Ready to get <span id="Bloody"> Bloody?</span></h1>
    <p>The best highest shelf human meat</p>
    <p><span id="gift-icon" class="ir"></span><a href="#">Try out our Gift Finder</a></p>
  </div>
</div>